/.log
/*.xls
/*.xlsx
/Data/Igor_1/ overview.pdf
/Data/Igor_1/ overview thresholded.pdf
/Data/Igor_1/ overview thresholded and spikes.pdf
/02.5 Python pipeline for IGOR recordings.py
/Data/Igor_1/ad1_1.ibw
/Data/Igor_1/ad1_2.ibw
/Data/Igor_1/ad1_3.ibw
/Data/Igor_1/ad1_4.ibw
/Data/Igor_1/ad1_5.ibw
/Data/Igor_1/ad1_6.ibw
/Data/Igor_1/ad1_7.ibw
/Data/Igor_1/ad1_8.ibw
/Data/Igor_1/ad1_9.ibw
/Data/Igor_1/ad1_10.ibw
/Data/Igor_1/ad1_11.ibw
/Data/Igor_1/ad1_12.ibw
/Data/Igor_1/ad1_13.ibw
/Data/Igor_1/ad1_14.ibw
/Data/Igor_1/ad1_15.ibw
/Data/Igor_1/ad1_16.ibw
/Data/Igor_1/ad1_17.ibw
/Data/Igor_1/ad1_18.ibw
/Data/Igor_1/ad1_19.ibw
/img/MultiPhotonExcitation.jpg
/img/MultiPhotonExcitation-Fig10-doi10.1186slash1475-925X-5-36-clipping.JPEG
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Python Course.iml
/.idea/vcs.xml
/.idea/.gitignore
/.ipynb_checkpoints
/02.3 Python pipeline for a statistical analysis.ipynb
/02.4 Python pipeline for a basic time series analysis.ipynb
/02.4 Python pipeline for a basic time series analysis.pdf
/02.5 Python pipeline for IGOR recordings.ipynb
/02.5 Python pipeline for IGOR recordings.py
/02.5 Python pipeline for IGOR recordings (blinded).pdf
/my_signal_plot.pdf
